@using WebAutoprevozncniko.ViewModels
@{
    ViewData["Title"] = "ObrisiPoruka";
}

<h1 style="margin-top:100px">Uspjesno ste obrisali liniju iz reda voznje</h1>
<br />
<a href="/RedVoznje/RasporedVoznje">Red voznje</a>


