@using WebAutoprevozncniko.ViewModels
@{
    ViewData["Title"] = "SpasiPoruka";
}

<h1 style="margin-top:100px;padding-top:40px">Uspjesno ste dodali novu liniju u red voznje</h1>
<br />
<a href="/RedVoznje">Vrati nazad</a>


