@using Autoprevoznicko_preduzece_HTS.Model;
@using WebAutoprevozncniko.ViewModels;
@{
    ViewData["Title"] = "DodajAutobusVozac";
    List<ComboBox> autobus = (List<ComboBox>)ViewData["autobus"];
    List<ComboBox> vozac = (List<ComboBox>)ViewData["vozac"];
    

}
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center" style="padding-top:40px">
            <h2>Dodaj AutobusVozac </h2>
            <ol>
                <li><a href="/AutobusVozac">Vrati nazad</a></li>
                <li>Dodaj AutobusVozac</li>
            </ol>
        </div>
    </div>
</section>
<form action="/AutobusVozac/SpasiAutobusVozac">
    <div class="form-group">
        <select name="AutobusID" class="form-control">
            <option>Odaberite autobus</option>
            @foreach (ComboBox a in autobus)
            {
                <option value="@a.ID">@a.naziv</option>
            }
        </select>
    </div>
    <div class="form-group">
        <select name="vozacID" class="form-control">
            <option>Odaberite vozaca</option>
            @foreach (ComboBox v in vozac)
            {
                <option value="@v.ID">@v.naziv</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Datum pocetka</label>
        <input class="form-control" type="datetime" name="DatumPocetka" />
    </div>
    <div class="form-group">
        <label>Datum Zavrsetka</label>
        <input class="form-control" type="datetime" name="DatumZavrsetka" />
    </div>
    <div class="form-group">
        <label>Smjena</label>
        <input class="form-control" name="Smjena" />
    </div>
    <br />
    <input type="submit" value="Snimi" />

</form>
<br />
<a class="btn btn-secondary" href="/AutobusVozac">Vrati nazad</a>

