
@{
    ViewData["Title"] = "OpstinaPoruka";
}

<h1 style="margin-top:100px;padding-top:40px">Uspjesno ste dodali opstinu @TempData["opstina"]</h1><br />
<a href="/Opstina/PrikaziOpstine">Lista svih opstina</a>
