@using Autoprevoznicko_preduzece_HTS.Model;
@using WebAutoprevozncniko.ViewModels;
@using Microsoft.Extensions.DependencyInjection;
@using Microsoft.AspNetCore.Http;
@using WebAutoprevozncniko.Helper
@{
    ViewData["Title"] = "Index";
    Login login = Context.GetLogiraniKorisnik();
    MyContext _context = Context.RequestServices.GetService<MyContext>();
}




<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center" style="padding-top:40px">
            <h2>Cjenovnik </h2>
            @*<ol>
                    <li><a href="/Home">Pocetna</a></li>
                    <li>Cjenovnik</li>
                </ol>*@
        </div>
    </div>
</section>

<a href="/Cjenovnik/ListaCijena">Lista svih cijena karata</a>
<br />
<a href="/Cjenovnik/Dodaj">Dodaj novu cijenu</a>
<br />
<a href="/Home">Vrati nazad</a>

