@{
    /* Layout = "Pocetni_Layout ";*/   // Pocetni prikaz nakon pokretanja programa
    Layout = "_LayoutHome";
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <div id="glavni">
        <ul class="nav">
            <li class="nav-item">
                <a class="form-control btn btn-primary" href="/Kupac">Kupac</a>
            </li>
            <li class="nav-item">
                <a class="form-control btn btn-primary" href="/karta">Karta</a>
            </li>
            <li class="nav-item">
                <a class="form-control btn btn-primary" href="/Cjenovnik">Cjenovnik</a>
            </li>
            <li class="nav-item">
                <a class="form-control btn btn-primary" href="/Grad">Grad</a>
            </li>
            <li class="nav-item">
                <a class="form-control btn btn-primary" href="/Opstina">Opstina</a>
            </li>
            <li class="nav-item">
                <a class="form-control btn btn-primary" href="/TipKarte">Tip karte</a>
            </li>
            <li class="nav-item">
                <a class="form-control btn btn-primary" href="/Obavijesti">Obavijesti</a>
            </li>
            <li class="nav-item">
                <a class="form-control btn btn-info" href="/html/Podaci.html">O nama</a>
            </li>
        </ul>
    </div>
</body>
</html>*@