
@{
    ViewData["Title"] = "ObrisiPoruka";
}

<h1 style="margin-top:100px">Uspjesno ste obrisali @TempData["VrstaKarte"] kartu</h1>
<a href="/VrstaKarte/ListaVrstaKarata">Lista svih vrsta karata</a>

