
@{
    ViewData["Title"] = "SpasiPoruka";
}

<h1 style="margin-top:100px">Uspjesno ste dodali @TempData["VrstuKarte"] kartu</h1>
<br />
<a href="/VrstaKarte/ListaVrstaKarata">Lista svih vrsta karata</a>

