
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center" style="padding-top:40px">
            <h2>Gradska linija</h2>
            @*<ol>
                <li><a href="/Home">Pocetna</a></li>
                <li>Gradska linija</li>
            </ol>*@
        </div>
    </div>
</section>
<a href="/GradskeLinije/ListaLinija">Lista gradskih linija</a>
<br />
<a href="/GradskeLinije/DodajLiniju">Dodaj novu liniju</a>
<br />
<a href="/Home">Vrati nazad</a>
