@{
    ViewData["Title"] = "Index";
}
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center" style="padding-top:40px">
            <h2>Vozaci</h2>
            @*<ol>
                <li><a href="/Home">Pocetna</a></li>
                <li>Vozaci</li>
            </ol>*@
        </div>
    </div>
</section>
<a href="/Vozac/PrikazVozaca">Lista zaposleni vozaca</a>
<br />
<a href="/Vozac/DodajVozaca">Dodaj novog zaposlenog vozaca</a>
<br />
<a href="/Home">Vrati nazad</a>