@using Autoprevoznicko_preduzece_HTS.Model;
@using WebAutoprevozncniko.ViewModels;
@{
    ViewData["Title"] = "DodajUprava";
    List<ComboBox> login = (List<ComboBox>)ViewData["Login"];
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center" style="padding-top:40px">
            <h2>Unesite Zaposlenog</h2>
            @*<ol>
                <li><a href="/Uprava">Vrati nazad</a></li>
                <li>Unesite Zaposlenog</li>
            </ol>*@
        </div>
    </div>
</section>
<form action="/Uprava/SpasiUprava">
    <div class="form-group">
        <label>Ime zaposlenog</label>
        <input class="form-control" name="Ime" />
    </div>

    <div class="form-group">
        <label>Prezime zaposlenog</label>
        <input class="form-control" name="Prezime" />
    </div>

    <div class="form-group">
        <label>Datum rodjenja zaposlenog</label>
        <input class="form-control" name="Datum" />
    </div>
    <div class="form-group">
        <select name="loginID" class="form-control">
            <option>korisnicko ime</option>
            @foreach (ComboBox u in login)
            {
                <option value="@u.ID">@u.naziv</option>
            }
        </select>
    </div>
    <input type="submit" value="Snimi" />
</form>
<br />
<a class="btn btn-secondary" href="/Uprava">Vrati nazad</a>
