@{
    ViewData["Title"] = "Index";
}
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center" style="padding-top:40px">
            <h2>Uprava</h2>
            @*<ol>
                <li><a href="/Home">Pocetna</a></li>
                <li>Uprava</li>
            </ol>*@
        </div>
    </div>
</section>
<a href="/Uprava/PrikazUprave">Lista zaposleni u upravi</a>
<br />
<a href="/Uprava/DodajUprava">Dodaj novog zaposlenog u upravi</a>
<br />
<a href="/Home">Vrati nazad</a>