
@{
    ViewData["Title"] = "SpasiPoruka";
}

    <h1 style="margin-top:100px;padding-top:40px">Uspjesno ste dodali novog zaposlenog @TempData["ImeIprezime"]</h1>
<a href="/Uprava/PrikazUprave">Vrati nazad</a>
